<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <i>  {{ flatpage.content }} </i>
<blockquote>
<p style="text-align: justify; padding-left: 30px;"><span style="color: #000000;">We are proud of being the leaders in the<strong> juice segment</strong> in Latvia and also in the Baltics over the course of many years, and of the fact that our juices are highly rated in <strong><em>more than 20 other countries</em></strong> all over the world, including:</span></p>
<ul>
<li style="text-align: justify; padding-left: 30px;"><span style="color: #000000;"> Japan, </span></li>
<li style="text-align: justify; padding-left: 30px;"><span style="color: #000000;">China, </span></li>
<li style="text-align: justify; padding-left: 30px;"><span style="color: #000000;">Canada, </span></li>
<li style="text-align: justify; padding-left: 30px;"><span style="color: #000000;">United Arab Emirates. </span></li>
</ul>
<p style="text-align: justify; padding-left: 30px;"><span style="color: #000000;">We are proud to produce juices in Latvia, although we have remained the only local large-scale juice producer in Latvia.</span></p>
</blockquote>
</body>
</html>